:root {
  --netflix-red: #e50914;
  --netflix-black: #141414;
  --netflix-dark-grey: #181818;
  --netflix-light-grey: #2f2f2f;
  --transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
  --shadow-main: 0 10px 30px rgba(0,0,0,0.5);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--netflix-black);
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.status-msg {
  text-align: center;
  padding: 100px 20px;
  font-size: 1.2rem;
  color: #737373;
}